body {
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  background-image: url("../../Assets/Images/heroImage2.jpg"); /* Path to your image */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
